.SalmonStatHQ {
	position: relative;
	background: rgba(0, 0, 0, 0.33);
	padding-top: 16px;
	padding-bottom: 90px;
	color: #fff;
}

.SalmonStatHQ::before {
	background: rgba(0, 0, 0, 0.33);
	content: '';
	position: absolute;
	width: 100%;
	height: 20px;
	margin-top: -36px;
	left: 0;
	-webkit-mask-image: url(../images/mask.png);
	mask-image: url(../images/mask.png);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}
