.shiftSelector select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
	padding: 8px 38px 8px 8px;
	color: #ffffff;
	font-family: Splatoon2;
	font-size: 15px;
}
.shiftSelector select::-ms-expand {
	display: none;
}
.shiftSelector {
	position: relative;
	border-radius: 2px;
	border-radius: 50px;
	background: rgb(229, 88, 51);
	width: 350px;
	margin: 20px auto;
}
.shiftSelector::before {
	position: absolute;
	top: 1.4em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #ffffff;
	pointer-events: none;
}
